nav{
    
    display: flex;
    justify-content:space-between; 
    background-color:yellow;
    /* background-size: 100%; */
    padding: 0px 60px; 
    height: 60px;
    /* margin-bottom: 0px; */
    align-items: center;
    /* gap: 20px; */
    
}

.navegador a{
  
    display:flex;
    text-decoration: none;
    color:black;
    line-height: 60px;
    font-size: 18px;

}

.titulo{
    width: 70%;
    height: 70%;
    text-align: center;
}

i{
    display:flex;
    padding: 6px;
    margin: 10px;
    
}
main{
    /* background-color: rgb(221, 133, 10); */
    
    border: none;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
    
    
   
}
.barra{
    display: flex;
    background-image: url(/img/images.jpeg);
    background-repeat: no-repeat;
    background-size: 100%; 
    color: ghostwhite;
    text-align: center;
    
}
h1{
    text-align: center;
    
}

h4{
    
    border: none;
    font-family: "Nanum Gothic Coding", monospace;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    
    
    
   
}