<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="icon" href="../img/7 C.png">
    <script src="https://kit.fontawesome.com/3c809bfe13.js"crossorigin="anonymous"></script>
    
    
    <title>Proyecto integrador</title>
</head>
<body>
    <header>
        <nav class="navegador">
            <i
            class="fa-solid fa-paint-roller fa-bounce"
            style="color: #141414"></i><p>Pintureria Siete Colores</p>
         
        <!-- Nombre aleatorio se puede cambiar -->
            <a href="../index.html">Inicio</a>
            <a href="./contacto.html">Contactanos</a>
           
            <a href="./nosotros.html">Sobre Nosotros</a>
            
            <a href="./sucursales.html">Sucursales</a> 
             
        </nav>
    </header>
    <main>
        <form action="">
            <h3>Cargar productos</h3>
            

        </form>
       
    </main>

    <footer>
        <a href="#">Encontranos en Argerich 4324, C.A.B.A., Argentina de Lunes a Viernes de 8.30 a 17.00.</a>
        
        <select name="Integrantes" id="">
            <option value="">Integrantes</option>
            <option value="">Agustina Paladini</option>
            <option value="">Mariela Castro</option>
            <option value="">Mariano Aballay</option>
        </select>
    </footer>
    
</body>
</html>