<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/3c809bfe13.js"
      crossorigin="anonymous"
    ></script>
    <title>Contacto</title>
    <link rel="stylesheet" href="../styles/productos.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="icon" href="../img/7 C.png">
    <link
      href="https://fonts.googleapis.com/css2?family=Abel&family=Nanum+Gothic+Coding:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- <header class="barra"> -->
    <header>
      <nav class="navegador">
        <!-- Nombre aleatorio se puede cambiar -->
        <a href="../index.html">Inicio</a>

        <a href="./contacto.html">Contactanos</a>

        <a href="./nosotros.html">Sobre Nosotros</a>

        <a href="./sucursales.html">Sucursales</a>
      </nav>
    </header>
    <main>
      <section class="barra">
        <h1 class="titulo">
          <i
            class="fa-solid fa-paint-roller fa-bounce"
            style="color: #edeff0"></i>Pintureria Siete Colores
        </h1>
      </section>
      
        <div>
        <h2>Pintura Colorin</h2>
         <li>TITANIO LATEX INTERIOR</li>
         <h4>Pintura al látex blanca mate para exteriores, de fácil aplicación; proporciona un recubrimiento uniforme y de rápido secado. Especialmente formulada para Profesionales y Contratistas de pintura.</h4>

         <li>LIVING PINTURA LATEX INTERIOR</li>
         <h4>Látex interior mate aterciopelado de calidad premium que ofrece una colección de colores de tendencia listos para usar.</h4>

         <li>ESMALTE SINTETICO SATINADO</li>
         <h4>Esmalte sintético satinado que brinda brillo aterciopelado y con bajo olor.</h4>

         <li>LACA BASE UNIVERSAL</li>
         <h4>Producto incoloro elaborado con resinas de Esteres Celulósicos y resinas a base de Poliésteres modificados, disueltas en solventes de alta calidad.</h4>
        
         <li>LACA BASE POLIUTERANO</li>
         <h4>Completan un acabado de alta calidad y excelente brillo.</h4>

         <li>LACA BASE BICAPA</li>
         <h4>Línea Repintado automotor e Industria.</h4>

         <li>LACA BASE ACRILICA</li>
         <h4>Producto incoloro elaborado con resinas de Esteres Celulósicos y resinas a base de Poliésteres modificados, disueltas en solventes de alta calidad..</h4>
        
         <li>ANTIODXIDO UNIVERSAL</li>
         <h4>Productos elaborados en base a resinas nitrocelulósicas modificadas con resinas alquídicas, maleicas y plastificante, como sustancias ligantes y pigmentadas con pigmentos cubritivos anticorrosivos y el uso de cargas minerales, para lograr un acertado balance entre cuerpo de la película, buena adhesión y lijabilidad.</h4>
        
         <li>MARTILUX ESMALTE SATINADO MARTILLADO</li>
         <h4>Martilux es sinónimo de Esmaltes Martillados. Este producto corresponde al tipo de pintura denominadas de textura, elaborada con resinas sintéticas modificadas y pigmentos resistentes de alta calidad.</h4>
        
         <li>ENDUIDO PARA INTERIORES COMODIN</li>
         <h4>Comodín repara rajaduras y descascaramientos, brindando superficies perfectamente lisas.</h4>
        
         <li>LATEX SATINADO SEDOSO PARA INTERIORES</li>
         <h4>Pintura al látex blanca para interiores de aspecto satinado sedoso y de calidad premium, de fácil aplicación y bajo salpicado.</h4>

        </div>
    </main>
    <footer>
      <a href="#">Encontranos en Argerich 4324, C.A.B.A., Argentina de Lunes a Viernes de 8.30 a 17.00.</a>
      
      <select name="Integrantes" id="">
          <option value="">Integrantes</option>
          <option value="">Agustina Paladini</option>
          <option value="">Mariela Castro</option>
          <option value="">Mariano Aballay</option>
      </select>
  </footer>
  
  </body>
</html>