<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/3c809bfe13.js"
      crossorigin="anonymous"
    ></script>
    <title>Contacto</title>
    <link rel="stylesheet" href="../styles/sucursales.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="icon" href="../img/7 C.png">
  </head>
  <body>
    <!-- <header class="barra"> -->
    <header>
      <nav class="navegador">

        <i
        class="fa-solid fa-paint-roller fa-bounce"
        style="color: #061116"></i><p>Pintureria Siete Colores</p>
        <!-- Nombre aleatorio se puede cambiar -->
        <a href="../index.html">Inicio</a>

        <a href="./contacto.html">Contactanos</a>

        <a href="./nosotros.html">Sobre Nosotros</a>

        <a href="./sucursales.html">Sucursales</a>
      </nav>
    </header>
    <main>
      <section class="barra">
        
      </section>
      <h2>Sucursales</h2>
        <div>
         <li>
            <b>BARRACAS:</b> California 2168. <b>TELÉFONO:</b> (011) 7078 9002
         </li>
         <li>
            <b>CONSTITUCIÓN:</b> Bernardo de Irigoyen 1620. <b>TELÉFONO:</b> (011) 7078 9005
         </li>
         <li>
            <b>LA BOCA:</b> Av. Regimiento de Patricios 701. <b>TELÉFONO:</b> (011) 7078 9004
         </li>
         <li>
            <b>AVELLANEDA:</b> Av. Hipólito Yrigoyen 2241. <b>TELÉFONO:</b> (011) 7078 9006
         </li>
         <li>
            <b>QUILMES:</b> Av. 12 de Octubre 2599. <b>TELÉFONO:</b> (011) 7078 9007
         </li>
        </div>
    </main>
  </body>
</html>