<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/3c809bfe13.js"
      crossorigin="anonymous"
    ></script>
    <title>Contacto</title>
    <link rel="stylesheet" href="../styles/productos.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abel&family=Nanum+Gothic+Coding:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="../img/7 C.png">
  </head>
  <body>
    <!-- <header class="barra"> -->
    <header>
      <nav class="navegador">
        <!-- Nombre aleatorio se puede cambiar -->
        <a href="../index.html">Inicio</a>

        <a href="./contacto.html">Contactanos</a>

        <a href="./nosotros.html">Sobre Nosotros</a>

        <a href="./sucursales.html">Sucursales</a>
      </nav>
    </header>
    <main>
      <section class="barra">
        <h1 class="titulo">
          <i
            class="fa-solid fa-paint-roller fa-bounce"
            style="color: #edeff0"
          ></i
          >Pintureria Siete Colores
        </h1>
      </section>
      
        <div>
        <h2>PINTURA TERSUAVE</h2>
         <li><b>Línea Arquitectónica</b></li>
         <h4>La línea más completa de productos para Hogar y Obra se encuentran en esta línea.</h4>

         <li><b>Línea Industria</b></li>
         <h4>Productos destinados al segmento industrial brindan las soluciones que el mercado demanda.</h4>

         <li><b>Línea Automotor</b></li>
         <h4>El rubro automotriz encuentra una gama completa de productos destinados a sus necesidades.</h4>

         <li><b>Línea Diluyente</b></li>
         <h4>Diluyentes de alta perfomance destinados al uso doméstico, profesional e industrial.</h4>
        </div>
    </main>
    <footer>
      <a href="#">Encontranos en Argerich 4324, C.A.B.A., Argentina de Lunes a Viernes de 8.30 a 17.00.</a>
      
      <select name="Integrantes" id="">
          <option value="">Integrantes</option>
          <option value="">Agustina Paladini</option>
          <option value="">Mariela Castro</option>
          <option value="">Mariano Aballay</option>
      </select>
  </footer>
    
  </body>
</html>