
nav{
    
    display: flex;
    justify-content:space-between; 
    background-color:yellow;
    /* background-size: 100%; */
    padding: 0px 60px; 
    height: 60px;
    /* margin-bottom: 0px; */
    align-items: center;
    /* gap: 20px; */
    
}

.navegador a{
  
    display:flex;
    text-decoration: none;
    color:black;
    line-height: 60px;
    font-size: 18px;

}

.navegador a:hover { background-color: black;
    color: whitesmoke;}

.titulo{
    width: 100%;
    height: 100%;
    text-align:left;
}

i{
    display:flex;
    padding: 6px;
    margin: 10px;
    
    
}

main{
    /* background-color: rgb(221, 133, 10); */
    border: none;
    font-family:"Rubik",Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-style: normal;
}
.barra{
    display: flex;
    background-image: url(../img/fotocontacto.png);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 450px;
    background-position: center;
    color: ghostwhite;
    text-align: center;
    margin-top:15px ;
    
}
h1{
    height: auto;
    width: auto;
    text-align: center;
    color:black;
    
}
.form{
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    
}
.formulario{
    background-color: yellow;
    margin: auto;
    border: 5px solid rgb(57, 54, 54);
    padding: 20px;
    
    

}

h2{
    
    margin-left: 500px; 
    display: flex;
}
footer {
    display: flex;
    justify-content:space-around;
    background-color: black;
    padding: 15px 15px;
    margin-top: 15px;
}
footer a {
    display: flex;
    text-decoration: none;
    color: white;
   

}

.campo label{
    margin-bottom: 10px;
    display: block;

}

.campo input{
    width: 70%;
    padding: 20px;
    border-radius: 50px;
}

.button {
    margin: 40px;
    color: black;
    background-color: grey;
    width: 70%;
    cursor: pointer;
   
    
    
}

.button:hover{
    background-color: black;
    color: honeydew;
    padding: 4px;
    
    
}

.checkbox{
    display: flex;
    position: relative;
    

}


