.barra{
    display: flex;
    background-image: url(/img/images.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: ghostwhite;
    text-align: center;
    
}
.titulo{
    width: 70%;
    height: 70%;
    text-align: center;
}
.menu{
    
    display: flex;
    margin-left: 70%;
    position:sticky;
    width: 50%;
    height: 50%;
    
}
i{
    display:flex;
    padding: 6px;
    margin: 10px;
    
}
main{
    background-color: rgb(221, 133, 10);
    border: none;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
}
h1{
    text-align: center;
    
}
.formulario{
    border: 4px solid;
    align-items: center;
    min-width: 50%;
    min-height: 50%;
    padding: auto;

}

.elementos{
    text-align: center;
    align-items: center;
    display: block;  
    
   
    
}

input.formulario{
    
    display: flex;
    align-items: flex-end;
    padding: 3%;
}

h2{
    text-align: center;
    display: flex;
}


