.barra{
    display: flex;
    background-image: url(/img/images.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: ghostwhite;
    text-align: center;
    
}
.menu{
    
    display: flex;
    align-items: end;
    position:sticky;
    width: 100%;
    height: 100%;
}
main{
    background-color: rgb(221, 133, 10);
    border: none;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
}
h1{
    text-align: center;
    
}
.formulario{
    border: 4px solid;
    align-items: center;
    min-width: 50%;
    min-height: 50%;
    padding: auto;

}

.elementos{
    text-align: center;
    align-items: center;
    
}

input.formulario{
    
    display: flex;
    align-items: flex-end;
    padding: 3%;
}


