body{
    font-family: "Rubik", sans-serif;
    font-size: 24px;
}

nav{
    
    display: flex;
    justify-content:space-between; 
    background-color:rgb(255, 238, 0);
    padding: 0px 60px; 
    height: 60px;
    /* margin-bottom: 0px; */
    align-items: center;
    /* gap: 20px; */
    
}
.navegador h1{
    font-size: 18px;
}
nav p{
    font-size: 18px;
}
.navegador a{
  
    display:flex;
    text-decoration: none;
    color:black;
    line-height: 60px;
    font-size: 18px;

}


footer {
    display: flex;
    justify-content:space-around;
    background-color: black;
    padding: 15px 15px;
}
footer a {
    display: flex;
    text-decoration: none;
    color: white;
   

}
#form{
    width: 30%;
    height: 60%;
    margin-bottom: 25px;
}
.formu {
    border: 3px solid black;
    /* width: 50%;
    height: 60%; */
   justify-content:space-around;
    margin-top:65px;
    margin-bottom: 500px;
    margin-left: 15px;
    border-radius: 5px;
    display: flex
    
}
label {
    display: block;
    margin-top: 10px;
}
input,button{
    margin-top: 15px;;
    border-radius: 5px;
}

/* CELULARES */
@media screen and (max-width: 767px) {
    nav{
        height: auto;
    }
    nav a{
        display: flex;
    }
   
   
    .grid-contenedor {
        display: block;
 }
 .navegador{
    display: block;
 }
 #banner{
    display: flex;
    
    
 }
 select{ width: 100px;
        height: 100px;
    }
.formu{
display:flex;
        }
}
 
